.footer {
  background: var(--uos-grey-black);
  background: linear-gradient(
  /* 180deg, */
  /*Best gradient attempt*/
    /* rgba(50, 50, 50, 0.82) 0%,
    rgba(50, 50, 50, 0.72) 50%,
    /* rgba(0, 105, 250, 0.65) 150% */
    /* rgba(50, 50, 50, 0.88) 100% */ 

    /*First gradient*/
    /* rgba(13, 27, 62, 0.82) 0%,
    rgba(13, 27, 62, 0.72) 50%,
    rgba(13, 27, 62, 0.88) 100% */
  );
  z-index: 1;
  clip-path: inherit;
  color: var(--uos-white);
  padding: 64px 0 0;
  margin-top: auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 48px;
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.footer-logo {
  width: 40px;
  height: 40px;
  
  /* background: var(--uos-orange); */

  /*Newly added background for logo*/
  background: var(--uos-white);
  border-bottom: 1px solid var(--uos-grey);

  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo span {
  color: white;
  font-weight: 800;
  font-size: 0.75rem;
}

.footer-brand h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

.footer-brand p {
  font-size: 0.72rem;
  color: var(--uos-grey);
}

.footer-desc {
  font-size: 0.9rem;
  color: var(--uos-grey);
  line-height: 1.6;
}

.footer-col h4 {
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
  color: rgba(255,255,255,0.5);
}

.footer-col a {
  display: block;
  font-size: 0.9rem;
  /* color: rgba(255,255,255,0.75); */
  padding: 4px 0;
  transition: color var(--transition);
}

.footer-col a:hover {
  color: var(--uos-orange-light);
}

.footer-bottom {
  margin-top: 48px;
  padding: 24px 0;
  border-top: 1px solid rgba(255,255,255,0.1);
  text-align: center;
}

.footer-bottom p {
  font-size: 0.8rem;
  /* color: rgba(255,255,255,0.4); */
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
